<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustyle.mappers.pinBoardMapper">

	<insert id="createPinBoard" parameterType="PinBoard">
		insert into
		tbl_pinboard (username, pinboardname, create_time, content)
		values (#{username}, #{pinboardname}, now(), #{content})
	</insert>
	
	<select id="selectListCnt" resultType="int">
 	<![CDATA[ 
 		select count(*) from tbl_pinboard
 		WHERE mainpictureproductid > 0
 	]]>
 	</select>
	
	<select id="selectListCntForUsername" parameterType="String" resultType="int">
		select count(*) from tbl_pinboard 
		where username = #{username}
	</select>
	
	<select id="selectPinBoardList" parameterType="hashmap" resultType="pinBoard">
		select 
			pinboardno, username, pinboardname, create_time, content, likecnt, mainpictureproductid
		from
			(SELECT (@row_number:=@row_number+1) as row_number,
				pinboardno, username, pinboardname, create_time, content, likecnt, mainpictureproductid 
			FROM tbl_pinboard, (SELECT @row_number:=0) as t
          	<if test="username != null">
   				WHERE username = #{username}
  			</if>
  			<if test="username == null">
  				<![CDATA[ WHERE mainpictureproductid > 0 ]]>
  			</if>
          	ORDER BY create_time DESC
			) X 
		where X.row_number between #{first} and #{last}
	</select>
	
	<select id="checkLike" parameterType="hashmap" resultType="boolean">
	<![CDATA[
		select count(*) > 0 as islike from tbl_pinboardlike
		where username = #{username} and pinboardno = #{pinboardno}
	]]>
	</select>
	
	<update id="plusLike" parameterType="int">
		update tbl_pinboard set likecnt = likecnt + 1
		where pinboardno = #{pinboardno}
	</update>
	
	<insert id="addLikeList" parameterType="pinBoardLike">
		insert into
		tbl_pinboardlike (pinboardno, username)
		values(#{pinboardno}, #{username})
	</insert>
	
	<update id="minusLike" parameterType="int">
		update tbl_pinboard set likecnt = likecnt - 1
		where pinboardno = #{pinboardno}
	</update>
	
	<delete id="removeLikeList" parameterType="pinBoardLike">
		delete from
		tbl_pinboardlike 
		where pinboardno = #{pinboardno} and username = #{username}
	</delete>
	
	<select id="selectLikeCnt" parameterType="int" resultType="int">
		select likecnt from tbl_pinboard
		where pinboardno = #{pinboardno}
	</select>
	
	<select id="existPin" parameterType="pin" resultType="boolean">
	<![CDATA[
		select count(*) > 0 as existPin from tbl_pin
		where pinboardno = #{pinboardno} and productid = #{productid}
	]]>
	</select>
	
	<select id="selectPinCnt" parameterType="int" resultType="int">
		select count(*) as existPin from tbl_pin
		where pinboardno = #{pinboardno}
	</select>
	
	<select id="selectPinBoardProductList" parameterType="int" resultType="hashmap">
		select 
			PD.productid, PD.productname
		from 
			tbl_pin P, tbl_product PD
		where 
			P.productid = PD.productid and P.pinboardno = #{pinboardno}
	</select>
	
	<update id="modifyPinBoard" parameterType="pinBoard">
		update
		tbl_pinboard set pinboardname = #{pinboardname}, content = #{content}
		where pinboardno = #{pinboardno}
	</update>
	
	<update id="updatePictureurl" parameterType="pinBoard">
		update
		tbl_pinboard set mainpictureproductid = #{mainpictureproductid}
		where pinboardno = #{pinboardno}
	</update>
	
	<delete id="deleteAllPinBoardLike" parameterType="int">
		delete from
		tbl_pinboardlike 
		where pinboardno = #{pinboardno}
	</delete>
	
	<select id="selectPinBoardNoList" parameterType="String" resultType="Integer">
		select pinboardno from tbl_pinboard where username = #{username}
	</select>

	<select id="getPinBoardMyList" parameterType="String" resultType="pinBoard">
		select * from tbl_pinboard where username = #{username}
	</select>
	
	<select id="getPinBoardList" resultType="pinBoard">
		select * from tbl_pinboard order by create_time limit 0, 9
		where username = #{username}
	</select>
	
	<select id="getPinBoardByNo" parameterType="int" resultType="PinBoard">
		select * from tbl_pinboard where pinboardno = #{pinboardno}
	</select>

	<delete id="deletePinBoard" parameterType="int">
		delete from tbl_pinboard
		where pinboardno = #{pinboardno}
	</delete>
	
</mapper>