<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustyle.mappers.pinMapper">
 
	<insert id="insertPin">
		insert into tbl_pin (pinboardno, productid)
		values(#{pinboardno}, #{productid})
	</insert>
	
	<select id="getPins" parameterType="int" resultType="Pin">
		select * from tbl_pin
		where pinboardno = #{pinboardno}
	</select>
	
	<delete id="deletePin" parameterType="int">
		delete from tbl_pin
		where pinno = #{pinno}
	</delete>
	<delete id="deleteAllPin" parameterType="int">
		delete from tbl_pin
		where pinboardno = #{pinboardno}
	</delete>
</mapper>


