<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustyle.mappers.productMapper">

	<insert id="insert" parameterType="product">
		<choose>
		<when test="files == null">
    		insert into tbl_product(productname, description, brand, category, subcategory)
    		values(#{productname}, #{description}, #{brand}, #{category}, #{subcategory} )
    	</when>
    	<otherwise>
    		insert into tbl_product(productname, description, brand, category, subcategory, pictureurl)
    		values(#{productname}, #{description}, #{brand}, #{category}, #{subcategory}, #{files})
    	</otherwise>
    	</choose>
    </insert>
    
    <insert id="updateImageUrl" parameterType="product">
    	insert into tbl_product(productname, description, brand, category, subcategory)
    	values(#{productname}, #{description}, #{brand}, #{category}, #{subcategory} )
    </insert>
 
</mapper>


