<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustyle.mappers.productMapper">

	<insert id="insert" parameterType="product">
		<choose>
		<when test="pictureUrl != null">
    		insert into tbl_product(productname, description, brand, category, subcategory, pictureurl)
    		values(#{productname}, #{description}, #{brand}, #{category}, #{subcategory}, #{pictureUrl} )
    	</when>
    	<otherwise>
    		insert into tbl_product(productname, description, brand, category, subcategory)
    		values(#{productname}, #{description}, #{brand}, #{category}, #{subcategory})
    	</otherwise>
    	</choose>
    </insert>
 	<select id="getNewProductId" resultType="int">
 		SELECT AUTO_INCREMENT
		FROM information_schema.TABLES
		WHERE TABLE_SCHEMA = 'ustyle'
		AND TABLE_NAME = 'tbl_product'
 	</select>
 	
 	<select id="selectListCnt" resultType="int" parameterType="hashmap">
 		select count(*) from tbl_product
 		<if test="searchKeyword != null || searchKeyword == ''">
   		where ${searchOption} like '%${searchKeyword}%'
		</if>
 	</select>
 	
 	<select id="productList" resultType="product" parameterType="hashmap">
		SELECT 
			productid, productname, description, brand, 
			category, subcategory, pictureurl
		FROM
			(SELECT (@row_number:=@row_number+1) as row_number,
					productid, productname, description, brand, 
					category, subcategory, pictureurl
			FROM tbl_product, (SELECT @row_number:=0) as t
          	<if test="searchKeyword != null || searchKeyword == ''">
    		WHERE ${searchOption} LIKE '%${searchKeyword}%'
  			</if>
          	ORDER BY productid DESC
			) X 
		WHERE X.row_number BETWEEN #{first} and #{last}
	</select>
	<delete id="delete" parameterType="int">
 		delete from tbl_product
 		where productid = #{productid}
 	</delete>
</mapper>


