<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustyle.mappers.userMapper">
 
    <!--resultMap id="userInfoMap" type="userVo">
        <result column="USERID" property="userId" jdbcType="VARCHAR" javaType="string"/>
        <result column="USERNAME" property="userName" jdbcType="VARCHAR" javaType="string"/>
    </resultMap>
    
    <resultMap id="commonResultMap" type="hashMap">
    </resultMap-->
     
    <insert id="insert" parameterType="user">
    	insert into tbl_user(username, email, password, create_time, postcode, phone, realname, addr1, addr2, point, auth)
    	values(#{username}, #{email}, #{password}, now(), #{postcode}, #{phone}, #{realname}, #{addr1}, #{addr2}, #{point}, #{auth} )
    </insert>
    
    <select id="userLogin" parameterType="com.ustyle.domain.User" resultType="com.ustyle.domain.User">
    	select * from tbl_user
    	where username = #{username}
    </select>
     
    <select id="userAuthOk" parameterType="com.ustyle.domain.User" resultType="boolean">
    	select (auth = #{auth}) from tbl_user
    	where username = #{username}
    </select>
    
    <select id="userExist" parameterType="String" resultType="int">
    	select count(*) as cnt from tbl_user
    	where username = #{username}
    </select>
    
    <update id="userAuthInitialize" parameterType="String">
    	update tbl_user set auth = 'y' 
    	where username = #{username}
    </update>
    
    <update id="update" parameterType="user">
		update tbl_user set password = #{password}, postcode = #{postcode}, phone = #{phone}, realname = #{realname},
		addr1 = #{addr1}, addr2 = #{addr2}, point = #{point}
		where username = #{username}
	</update>
 
 	<delete id="delete" parameterType="String">
 		delete from tbl_user 
 		where username = #{username}
 	</delete>
</mapper>


